@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --col1: rgb(13, 13, 13);
    --col2: #181414;
    --textcol: white;
}

* {
    margin: 0;
    padding: 0;
}

.custom-scrollbar::-webkit-scrollbar {
    display: none;
}

.custom-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* For Webkit browsers like Chrome, Safari */
.scrollable-div::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge */
.scrollable-div {
    -ms-overflow-style: none;
}

/* For Firefox */
.scrollable-div {
    scrollbar-width: none;
}

.scrollable-div {
    overflow-y: auto;
    /* Make div scrollable */
}